<html>
	<head>
        <meta charset="UTF-8">
	<title>{% if title is defined and title is not none %}{{ title }}{% else %}Presentation{% endif %}</title>
		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">
		<link rel="stylesheet" href="css/addition.css">
		<link rel="stylesheet" href="css/vs.min.css">
	</head>
	<body>
		<div class="reveal">
                <div class="slides">
		{% for cards in carddeck %}
		{% if cards|length > 1 %} <section> {% endif %} {% for card in cards %}
                    <section data-markdown>
                        <textarea data-template>
{{ card.content }}
                        </textarea>
		    </section> {% endfor %}
                {% if cards|length > 1 %} </section> {% endif %}
                {% endfor %}
                </div>
		</div>
		<script src="js/reveal.js"></script>
		<!-- <script src="plugin/markdown/marked.js"></script> -->
		<!-- <script src="plugin/markdown/markdown.js"></script> -->
		<script>
		Reveal.initialize({
			dependencies: [
				// Interpret Markdown in <section> elements
				{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },

				// Syntax highlight for <code> elements
				{ src: 'plugin/highlight/highlight.js', async: true },
				{ src: 'plugin/highlight/yaml.min.js', async: true },

				// Zoom in and out with Alt+click
				{ src: 'plugin/zoom-js/zoom.js', async: true },

				// Speaker notes
				{ src: 'plugin/notes/notes.js', async: true },

				// MathJax
				{ src: 'plugin/math/math.js', async: true },

				// Menu
				{ src: 'plugin/menu/menu.js', async: true }
			],
			menu: {
		titleSelector: 'h1, h2, h3, h4, h5, h6',
				hideMissingTitles: true,
				themes: true,
				themesPath: 'css/theme/'
			}
		});
		</script>
        <!-- enable auto refresh -->
	{% if production is sameas false %}
        <script id="livejs" type="text/javascript" src="http://livejs.com/live.js"></script>
        {% endif %}
	</body>
</html>
